<link href="/style.scss" rel="stylesheet" />
<h3>Dear <%= name %>!</h3><br><br>Your Zinetgo account is successfully registered. Please confirm your email by <a href="<%= url %>/verify/<%= vToken %>"> clicking this link</a>.<br><br>Your login credentials are <br><br>Mobile: <%= mobile %><br>Password: <%= passwd %><br><br>Best,<br>Team Zinetgo


